body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.logo img {
    height: 40px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 500px;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ff9900;
}